* {

    margin: 0;
    padding: 0;

}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.69),rgba(0,0,0,.69)), url("../img/fundo-cv3.jpg");
    background-size: 220vh;
    font-family: Arial;
    height: 100vh;
    margin: 0px 170px 0px 170px; /*Altura, direita, baixo, esquerda*/
}

p {
    width: 400px;
    color: white;

  }



.sphere {
	height: 2em;
	width: 2em;
	border-radius: 50%;
	float: left;
	margin-right: 31px;
	z-index: 20 !Important;
	position: relative;
	-webkit-transform: scale(.3);
	z-index: -1;
	background: -webkit-radial-gradient(10% 10%, ellipse cover, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10+, Safari5.1+ */
	
}

.btn-metro{
    border-radius: 0px !important;
    transition: all 0.5s;
  	cursor: pointer;
}


.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 50;
  right: 0;
}

